
.logo {
 float: left;
 margin-left: 20px;
}
.title {
 margin-left: 200px;
 float: right;
 text-align: center;
 padding: 10px 10px 10px;
}
.devi {
   padding-left: 325px;
   text-align: center;
}
.nav-bar{
  margin-top: 10px;
}
.btn {
  margin: 10px;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:19px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}

.slider {
width: 100%;
height: 300px;
}

.carousel-inner .carousel-item .slider-img{
  width: 100%;
  height: 400px;
}


.gaoninfo {
  text-align: center;
  padding: 10px;
  height: 600px;
  width: 50%;
  font-size: 17px;
}

.gramtable {
  padding-left: 5px;
}
.tab {
  text-align: center;
  height: 400px;
  width: 50%;
  font-size: 20px;
}


.nav-btn {
  margin: 10px;
	background-color:transparent;
	border-radius:3px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#316b36;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:23px 64px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.nav-btn:hover {
	background-color:transparent;
}
.nav-btn:active {
	position:relative;
	top:1px;
}




.footer {
  background-color: #092532;
  color: white;
  margin-top: 10px;
}
.Copyright{
  margin-top: 50px;
  margin-left: 50px;
}
.map {
 padding: 5px;
}
.add {
 margin: 50px;
 font-size: 20px;
}
.contact {
  margin: 50px;
}
.social-icon{
  padding: 30px;
}
